<header class="header">
    <div class="header-left">
      <div class="tabs">
        <button class="tab">Cajou</button>
        <button class="tab">Cacao</button>
        <button class="tab">Hévéa</button>
        <button class="tab">Karité</button>
      </div>
    </div>
    <div class="header-right">
      <button class="btn-notification">12</button>
      <div class="user-info">
        <span>CAP SIKAN</span>
        <img src="path_to_flag_image" alt="flag">
      </div>
    </div>
  </header>
  