<div class="auth-container">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="authForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="authForm.get('password')?.hasError('minlength')">
          Password must be at least 6 characters
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Login</button>
      <p *ngIf="error">{{ error }}</p>
    </form>
  </div>
  
