.main-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 100vh; /* Adjust height as needed */
}

.sidebar {
  width: 300px;
  background-color: #e5e7eb;
  margin: 30px;

  ul {
    list-style: none;
    padding: 20px;

    li {
      position: relative;
      margin-bottom: 15px;
      padding: 10px;

      a {
        text-decoration: none;
        font-weight: bold;
        color: #554d4d;


        &:hover {
          color: #d47d41;
          background-color: #dfccd4; /* Change this color to fit your design */

        }
        &::after {
          content: "12"; /* Number to be displayed */
          position: absolute;
          right: 10px; /* Adjust this value to position the number properly */
          font-weight: bold;
          font-size: 14px; /* Adjust font size as needed */
        }
      }
    }
  }
}
.content {
  flex: 1; /* Takes up the remaining space */
  padding: 20px;
  overflow: auto; /* Allows scrolling if content overflows */
}
/* Table Header */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

/* Delete Button Style */
.delete-button {
  background-color: #d47d41; /* Match the image background color */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1px;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1;
}

.delete-button:hover {
  background-color: #b95e2f; /* Darker shade on hover */
}

.delete-button:focus {
  outline: none;
}

/* Search Zone */
.search-zone {
  display: flex;
  align-items: center;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 300px;
}

.search-icon {
  position: absolute;
  right: 10px;
  font-size: 24px;
  color: #888;
  pointer-events: none;
}

/* Table Styling */
.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #f1f1f1;
  color: #554d4d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.mat-cell {
  padding: 8px;
  border: none;
}

.mat-header-row {
  background-color: #f1f1f1;
}

.mat-footer-row {
  background-color: #f1f1f1;
}

.mat-table-container {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.mat-cell,
.mat-header-cell {
  border-bottom: none;
}

.mat-header-cell,
.mat-cell {
  background-color: transparent;
}

.mat-icon-button {
  padding: 0;
}

.mat-paginator {
  margin-top: 20px;
}

.mat-paginator .mat-paginator-page-size {
  margin-right: 10px;
}

.mat-paginator .mat-paginator-range-label {
  margin: 0 10px;
}

h3 {
  color: #d47d41; /* Match the image header color */
}
