.auth-container {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.auth-left {
    flex: 2;
    background: url('../../../assets/agriculture-image.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    overflow: hidden;
}

.auth-left h1 {
    font-size: 2.7rem;
    margin-bottom: 20px;
    padding-left: 100px;
    margin: 0;
    font-weight: bold;
}

.auth-left p {
    font-size: 1.20rem;
    max-width: 400px;
    line-height: 1.6;
    padding-left: 100px;
    margin: 0px;
}

.auth-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #007bff;
    display: inline-block;
    margin-bottom: 20px;
}

.logo::first-letter {
    color: #d47d41;
}

.speculations {
    text-align: center; /* Centre le texte du titre */
    margin-top: 30px; /* Ajoute un espace au-dessus des spéculations */
}

.speculations h3 {
    font-size: 1.25rem;
    color: #d47d41;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.speculation-options {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    gap: 3.5px; /* Espacement entre les boutons */
    margin-top: 10px; /* Espace au-dessus des boutons */
}

.speculation-options button {
    position: relative; /* Positionnement relatif pour le bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; /* Couleur de fond du bouton */
    border: 2px solid #d47d41; /* Couleur de la bordure */
    border-radius: 50px; /* Coins arrondis */
    padding: 5px 10px; /* Espacement intérieur du bouton */
    cursor: pointer; /* Curseur pointer au survol */
    transition: background-color 0.3s, color 0.3s; /* Effet de transition */
    font-size: 0.9rem; /* Taille du texte du bouton */
}

.speculation-options button .tick {
    position: absolute;
    top: 5px; /* Position du tick depuis le bord supérieur du bouton */
    right: 5px; /* Position du tick depuis le bord droit du bouton */
    font-size: 20px;
    color: #098a1a; /* Couleur verte pour le tick */
    display: none; /* Caché par défaut */
}

.speculation-options button.active .tick {
    display: block; /* Affiche le tick lorsque le bouton est actif */
}

.speculation-options button mat-icon {
    font-size: 24px; /* Taille de l'icône Material */
    margin-right: 1px; /* Espace entre l'icône et le texte */
}

.speculation-options button .cajou {
    color: #f87d18; /* Couleur pour l'icône de Cajou */
}

.speculation-options button .cacao {
    color: #703421; /* Couleur pour l'icône de Cacao */
}

.speculation-options button .nature {
    color: #388e3c; /* Couleur pour l'icône de Hévéa */
}

.speculation-options button .karite {
    color: #f19012; /* Couleur pour l'icône de Karité */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin-top: 40px; /* Espace au-dessus de la section */
}

.login-form {
    width: 100%;
    max-width: 350px;
    margin: 0 auto; /* Centre le conteneur de formulaire */
    display: flex;
    flex-direction: column; /* Dispose les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
}

.login-form h3 {
    font-size: 1.25rem;
    color: #d47d41;
    font-weight: bold;
    margin: 0 0 20px 0;
}

.login-form label {
    color: #615d5d;
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Assure que le texte est aligné à gauche */
}

.login-form .form-group {
    display: flex;
    flex-direction: column; /* Dispose le label et le champ de saisie en colonne */
    width: 100%; /* Prend toute la largeur disponible */
    margin-bottom: 20px; /* Espacement sous les champs de saisie */
}

.login-form input {
    width: 100%; /* Prend toute la largeur disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff !important;
    box-sizing: border-box; /* Inclut padding et bordures dans la largeur totale */
}

.password-container {
    position: relative;
    width: 100%; /* Assure que le conteneur prend toute la largeur disponible */
}

mat-icon.toggle-password {
    position: absolute;
    right: 10px; /* Ajuste l'espace depuis le bord droit */
    top: 60%; /* Centre verticalement par rapport au champ */
    transform: translateY(-50%); /* Compense la position pour centrer verticalement */
    cursor: pointer;
    font-size: 1.2rem;
    color: #848d85;
    pointer-events: auto; /* Assure que l'icône est cliquable */
}

mat-icon.toggle-password:hover {
    color: #333;
}

.login-form button {
    width: 60%;
    max-width: 350px;
    padding: 10px 20px;
    background-color: #d47d41;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.login-form button:hover {
    background-color: #b45a24;
    transform: scale(1.05);
}

.login-form button:active {
    background-color: #a04d1d;
    transform: scale(1);
}

.forgot-password,
.reset-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}

.forgot-password {
    color: #979492;
}

.reset-password {
    color: #d47d41;
    font-weight: bold;
}
